bin/
obj/
Properties/
.vs

*.com
*.class
*.dll
*.exe
*.pdb
*.dll.config
*.cache
*.suo
*.log

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

*.sln
*.csproj.user

publish/
nupkg/
*.nupkg

appsettings.json
products.json